<style>
.service-controls li + li {
    margin-left: 10px;
}

/* 5.1: Single service */
.single-service {
    border-top: 1px solid #00c544;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s;
    padding: 70px 15px 25px 15px;
}
.single-service:hover {
    border-top: 2px solid #00c544;
    padding: 69px 15px 25px 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.41);
}
.single-service svg:first-child {
    color: #00c544;
    height: 62px;
}
.single-service svg + svg {
    position: absolute;
    left: -50px;
    top: -50px;
    color: #00c544;
}
.single-service:hover svg + svg {
    top: -51px;
}
.single-service h4 {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
}
.single-service p {
    color: #4c4f60;
}
.single-service a {
    font-size: 16px;
    color: #00c544;
}
.single-service a i {
    font-size: 10px;
    position: relative;
    top: -1px;
    margin-left: 5px;
}
.single-service a:hover { color: #000; }

/* 5.2: Services includes */
.includes-carousel-wrap {
    border-top: 1px solid #00c544;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.includes-carousel .swiper-slide {
    height: auto;
}
.inc-car-nav {
    margin-left: 30px;
}
.single-includes {
    border: 1px solid #ecf7fe;
    text-align: center;
    height: 100%;
    padding: 20px 15px 15px;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.single-includes svg {
    color: #00c544;
    height: 30px;
}
.single-includes h3 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
}
.single-includes:hover {
    background-color: #00c544;
}
.single-includes:hover svg,
.single-includes:hover h3 {
    color: #fff;
}
.inc-car-nav li + li {
    margin-top: 10px;
}
.single-service-inner{
    border-top: 1px solid #00c544;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s;
    padding: 70px 15px 25px 15px;
}
.single-service-inner:hover {
    border-top: 2px solid #00c544;
    padding: 69px 15px 25px 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.single-service-inner svg:first-child {
    color: #00c544;
    height: auto;
}
.single-service-inner svg + svg {
    position: absolute;
    left: -50px;
    top: -50px;
    color: #00c544;
}
.single-service-inner h4 {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
}
.single-service-inner p {
    color: #4c4f60;
}
.single-service-inner a {
    font-size: 16px;
    color: #00c544;
}

</style>
<div class="col-md-3 col-12">
    <div class="pricing-item " style="box-shadow: 0px 0px 30px -7px rgba(0,0,0,0.29);">
                    <!-- Indicator of subscription type -->
                    <div class="pt-4 pb-3" style="letter-spacing: 2px">
                        <h4>{{ field.type_of_work }}</h4>
                    </div>
                    <!-- Price class -->
                    <div class="pricing-price pb-1 text-primary color-primary-text ">
                        <h1 style="font-weight: 1000; font-size: 3.5em;">
                            <span style="font-size: 20px;">от </span>{{ field.price }} р
                        </h1>
                         <ul class="list-unstyled mt-3 mb-4 pricing-description">
                                 <li class="pl-3 pr-3">от {{ field.time }} минут</li>
                         </ul>
                    </div>
                    <!-- Perks of said subscription -->
                    <div class="pricing-description">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li class="pl-3 pr-3">от {{ field.time }} минут</li>
                            <li class="pl-3 pr-3">{{ field.description|safe }}</li>
                        </ul>
                    </div>
                    <!-- Button -->
                    <div class="pricing-button pb-4">
                        <button type="button" class="btn btn-lg btn-primary w-75" data-toggle="modal"
                data-target="#feedbackModal">Get started</button>
                    </div>
                </div>
    <div class="single-service mb-30 text-center">
        <h3></h3>
        <img src="{{ field.type_of_work.image.url }}" data-rjs="2" alt="" class="svg" width="100px"
             height="100px">
        <h5>Стоимость ремонта от <b>{{ field.price }} р</b></h5>
        <h5>Время ремонта </h5>
        <button type="button" class="btn btn-success text-white" data-toggle="modal"
                data-target="#feedbackModal">
            Заказать ремонт
        </button>
    </div>
    <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light text-white">
                    <h3 class="modal-title text-center" id="feedbackModalLabel">Заказать ремонт прямо
                        сейчас</h3>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-4 text-left"><label for="name">Ваше Имя</label></div>
                            <div class="form-group col-md-8">
                                <input id="name" name="name" class="form-control" type="text"
                                       required="required">
                            </div>
                            <div class="form-group col-md-4 text-left"><label for="phone">Ваш телефон</label>
                            </div>
                            <div class="form-group col-md-8">
                                <input type="text" class="form-control" id="phone" required="required">
                                <input id="type_of_workd" type="hidden" value="{{ field.type_of_work }}">
                                <input id="phone_model" type="hidden" value="{{ field.model }}">
                            </div>
                            <div class="form-group col-md-4 text-left"><label for="selectservice">Укажите
                                СЦ</label></div>
                            <div class="form-group col-md-8">
                                <select class="form-control" id="selectservice">
                                    <option>ул. Ленинградское шоссе, 71Г</option>
                                    <option>ул. Маршала Прошлякова, 14</option>
                                    <option>ул. Проспект Мира, 211 к1</option>
                                    <option>ул.Шоссейная, 2Б</option>
                                    <option>ул. Рябиновая, 59</option>
                                    <option>104-й км МКАД, 6</option>
                                </select></div>
                            <div class="col-md-4 text-left">
                                <label for="comment">Комментарий</label>
                            </div>
                            <div class="form-group col-md-12">
                                        <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"
                                                  placeholder="Комментарий"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-success">Заказать</button>
                                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"
                                        aria-label="Close">Отмена
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <small><h5>Нажимая кнопку "Заказать" вы даете согласие на обработку ваших персональных
                        данных</h5></small>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(".modal").each(function (index) {
        $(this).on('show.bs.modal', function (e) {
            var open = $(this).attr('data-easein');
            if (open == 'shake') {
                $('.modal-dialog').velocity('callout.' + open);
            } else if (open == 'pulse') {
                $('.modal-dialog').velocity('callout.' + open);
            } else if (open == 'tada') {
                $('.modal-dialog').velocity('callout.' + open);
            } else if (open == 'flash') {
                $('.modal-dialog').velocity('callout.' + open);
            } else if (open == 'bounce') {
                $('.modal-dialog').velocity('callout.' + open);
            } else if (open == 'swing') {
                $('.modal-dialog').velocity('callout.' + open);
            } else {
                $('.modal-dialog').velocity('transition.' + open);
            }

        });
    });
</script>