{% extends 'base/main.html' %}
{% load static %}
{% block body %}
<style>
.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
</style>
<style>
.service-controls li + li {
    margin-left: 10px;
}

/* 5.1: Single service */
.single-service {
    border-top: 1px solid #00c544;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s;
    padding: 70px 15px 25px 15px;
}
.single-service:hover {
    border-top: 2px solid #00c544;
    padding: 69px 15px 25px 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.41);
}
.single-service svg:first-child {
    color: #00c544;
    height: 62px;
}
.single-service svg + svg {
    position: absolute;
    left: -50px;
    top: -50px;
    color: #00c544;
}
.single-service:hover svg + svg {
    top: -51px;
}
.single-service h4 {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
}
.single-service p {
    color: #4c4f60;
}
.single-service a {
    font-size: 16px;
    color: #00c544;
}
.single-service a i {
    font-size: 10px;
    position: relative;
    top: -1px;
    margin-left: 5px;
}
.single-service a:hover { color: #000; }

/* 5.2: Services includes */

.includes-carousel .swiper-slide {
    height: auto;
}
.single-includes svg {
    color: #00c544;
    height: 30px;
}
.single-includes h3 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
}
.single-includes:hover svg,
.single-includes:hover h3 {
    color: #fff;
}
.inc-car-nav li + li {
    margin-top: 10px;
}

.single-service-inner svg:first-child {
    color: #00c544;
    height: auto;
}
.single-service-inner svg + svg {
    position: absolute;
    left: -50px;
    top: -50px;
    color: #00c544;
}
.single-service-inner h4 {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
}
.single-service-inner p {
    color: #4c4f60;
}
.single-service-inner a {
    font-size: 16px;
    color: #00c544;
}

</style>
    <div class="container">
        <div class="row pt-5 pb-2">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная страница</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="pt-120 pb-90 default-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <!-- Section Title -->
                    <div class="section-title text-center" data-animate="fadeInUp" data-delay=".3">
                        <h1>Выберите Ваш {{ object }}</h1>
                        <p>Тут может быть любой текст...главное что бы место не пустовало.. а то с одним титульником
                            смотриться не очень</p>
                    </div>
                    <!-- End of Section Title -->
                </div>
            </div>
            <div class="row">
                {% for field in object.category_device.all %}
                    <div class="col-md-3">
                        <a href="{{ field.get_absolute_url }}">
                            <div class="single-service mb-30 text-center">
                                <h3>{{ field.model }}</h3>
                                <img src="{{ field.image.url }}" data-rjs="2" alt="" class="svg" width="150px"
                                     height="150px">
                                <h5><b>Любая информация</b></h5>
                                <h5>И тут</h5>
                                <button href="{{ field.get_absolute_url }}" class="btn btn-success text-white">Перейти
                                </button>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}