{% extends 'base/main.html' %}
{% load static %}

{% block body %}
    <div class="container-fluid">
    <section class="position-relative bg-light pt-4 pb-4" data-bg-img="{% static 'img/iprep.jpg' %}">
    {#        <div id="particles_js"></div>#}
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12">
                <!-- Banner content -->
                <div class="banner-content">

                    <h1 data-animate="fadeInUp" data-delay="1.2" style="color: white;">Специализированные сервисные</h1>
                    <h1 data-animate="fadeInUp" data-delay="1.4" style="color: white;">центры Apple в Москве</h1>
                    <br>
                    <h1 data-animate="fadeInUp" data-delay="1.8" style="color: white;">Выездной ремонт в Москве!</h1>
                    <br>
                </div>
            </div>
            {#                <div class="col-lg-6 d-none d-lg-block">#}
            {#                    <!-- Banner image -->#}
            {#                    <div class="banner-image">#}
            {#                        <img src="{% static 'img/slide.png' %}" alt="" data-animate="fadeInUp" data-delay="1.5" data-depth="0.2">#}
            {#                    </div>#}
            {#                </div>#}
        </div>
    </div>
</section>
    </div>
<div class="container">
    <div class="row pt-5 pb-2">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная страница</a></li>
                    <li class="breadcrumb-item"><a href="{{ object.category_device }}">{{ object.category_device }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for field in object.types_work.all %}
            {% include 'card.html' %}
        {% endfor %}
    </div>
</div>
    <script type="text/javascript">
    function test(id) {
        alert(id)
    }
    </script>
{% endblock %}