{% extends 'base/main.html' %}
{% load static %}

{% block body %}
    <!-- Banner -->
    <section class="position-relative bg-light pt-4 pb-4" data-bg-img="{% static 'img/iprep.jpg' %}">
        {#        <div id="particles_js"></div>#}
        <div class="container-fluid">
            <div class="row align-items-center text-center">
                <div class="col-md-12 col-12">
                    <!-- Banner content -->
                    <div class="banner-content">
                        <h1 data-animate="fadeInUp" data-delay="1.2" style="color: white;">6 сервисных центров в Москве</h1>
                        <h1 data-animate="fadeInUp" data-delay="1.4" style="color: white;">Собственная лаборатория по сложному ремонту</h1>
                        <br>
                        <h1 data-animate="fadeInUp" data-delay="1.8" style="color: white;">Выездной ремонт</h1>
                        <br>
                        <ul class="list-inline" data-animate="fadeInUp" data-delay="2">
                        </ul>
                    </div>
                </div>
                {#                <div class="col-lg-6 d-none d-lg-block">#}
                {#                    <!-- Banner image -->#}
                {#                    <div class="banner-image">#}
                {#                        <img src="{% static 'img/slide.png' %}" alt="" data-animate="fadeInUp" data-delay="1.5" data-depth="0.2">#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </section>
    <section>
        <div>
            <div class="container">
                <div class="row justify-content-center pt-5">
                    <div class="col-xl-8 col-lg-8">
                        <div class="text-center">
                            <h1 class="text-white" data-animate="fadeInUp" data-delay=".1"><span style="color:black">Выберите устройство Apple для ремонта</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Banner -->

    <!-- Features -->
    <section class="pt-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div  data-animate="fadeInUp" data-delay=".1">
                        <div class="image-hover-wrap">
                            <img src="{{ MacBook.image.url }}" alt="" width="800" height="600">
                            <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                                <div class="pre-scrollable">
                                    <table>
                                        {% for field in MacBook.category_device.all %}
                                        <tr>
                                            <td><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                                    style="color:black">{{ field.model }}</a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="single-member-info">
                            <h3 class="text-center">РЕМОНТ MacBook</h3>
                            <p class="text-center pt-3"><a href="#" class="btn btn-primary" data-toggle="collapse"
                                                           data-target="#MacBook">Выберите модель {{ MacBook }}</a></p>
                            <div id="MacBook" class="collapse border border-success text-center">
                                {% for field in MacBook.category_device.all %}
                                    <span><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                     style="color:black">Ремонт {{ field }}</a></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div  data-animate="fadeInUp" data-delay=".1">
                        <div class="image-hover-wrap">
                            <img src="{{ iPad.image.url }}"  width="800" height="600" alt="">
                            <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                                <div class="pre-scrollable">
                                    <table>
                                        {% for field in iPad.category_device.all %}
                                        <tr>
                                            <td><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                                    style="color:black">{{ field.model }}</a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="single-member-info">
                            <h3 class="text-center">РЕМОНТ iPad</h3>
                            <p class="text-center pt-3"><a href="#" class="btn btn-primary" data-toggle="collapse"
                                                           data-target="#iPad">Выберите модель iPad</a></p>
                            <div id="iPad" class="collapse border border-success text-center">
                                {% for field in iPad.category_device.all %}
                                <span><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                     style="color:black">{{ field.model }}</a></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div  data-animate="fadeInUp" data-delay=".1">
                        <div class="image-hover-wrap">
                            <img src="{{ iPhone.image.url }}" alt="" width="800" height="600">
                            <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                                <div class="pre-scrollable">
                                    <table>
                                        {% for field in iPhone.category_device.all %}
                                        <tr>
                                            <td><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                                    style="color:black">{{ field.model }}</a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="single-member-info">
                            <h3 class="text-center">РЕМОНТ {{ iPhone }}</h3>
                            <p class="text-center pt-3"><a href="#" class="btn btn-primary" data-toggle="collapse"
                                                           data-target="#iPhone">Выберите модель iPhone</a></p>
                            <div id="iPhone" class="collapse border border-success text-center">
                                {% for field in iPhone.category_device.all %}
                                    <span><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                        style="color:black"><h3>{{ field.model }}</h3></a></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div  data-animate="fadeInUp" data-delay=".1">
                        <div class="image-hover-wrap">
                            <img src="{{ iWatch.image.url }}" alt="" width="800" height="600">
                            <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                                <div class="pre-scrollable">
                                    <table>
                                        {% for field in iWatch.category_device.all %}
                                        <tr>
                                            <td><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                                    style="color:black">{{ field.model }}</a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="single-member-info">
                            <h3 class="text-center">РЕМОНТ {{ iWatch }}</h3>
                            <p class="text-center pt-3"><a href="#" class="btn btn-primary" data-toggle="collapse"
                                                           data-target="#iWatch">Выберите модель iWatch</a></p>
                            <div id="iWatch" class="collapse border border-success text-center">
                                {% for field in iWatch.category_device.all %}
                            <span><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                     style="color:black">{{ field.model }}</a></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div  data-animate="fadeInUp" data-delay=".1">
                        <div class="image-hover-wrap">
                            <img src="{{ iMac.image.url }}" alt="" width="800" height="600">
                            <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                                <div class="pre-scrollable">
                                    <table>
                                        {% for field in iMac.category_device.all %}
                                        <tr>
                                            <td><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                                    style="color:black">{{ field.model }}</a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="single-member-info">
                            <h3 class="text-center">РЕМОНТ {{ iMac }}</h3>
                            <p class="text-center pt-3"><a href="#" class="btn btn-primary" data-toggle="collapse"
                                                           data-target="#iMac">Выберите модель iMac</a></p>
                            <div id="iMac" class="collapse border border-success text-center">
                                {% for field in iMac.category_device.all %}
                                <span><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                         style="color:black">Ремонт {{ field.model }}</a></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div  data-animate="fadeInUp" data-delay=".1">
                        <div class="image-hover-wrap">
                            <img src="{{ MacPro.image.url }}" alt="" width="800" height="600">
                            <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                                <div class="pre-scrollable">
                                    <table>
                                        {% for field in MacPro.category_device.all %}
                                        <tr>
                                            <td><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                                    style="color:black"><h3>{{ field.model }}</h3></a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="single-member-info">
                            <h3 class="text-center">РЕМОНТ Mac Pro</h3>
                            <p class="text-center pt-3"><a href="#" class="btn btn-primary" data-toggle="collapse"
                                                           data-target="#MacPro">Выберите модель Mac Pro</a></p>
                            <div id="MacPro" class="collapse border border-success text-center">
                                {% for field in MacPro.category_device.all %}
                            <span><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                     style="color:black">{{ field.model }}</a></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div  data-animate="fadeInUp" data-delay=".1">
                        <div class="image-hover-wrap">
                            <img src="{{ MacMini.image.url }}" alt="" width="800" height="600">
                            <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                                <div class="pre-scrollable">
                                    <table>
                                        {% for field in MacMini.category_device.all %}
                                        <tr>
                                            <td><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                                    style="color:black">{{ field.model }}</a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="single-member-info">
                            <h3 class="text-center">РЕМОНТ Mac mini</h3>
                            <p class="text-center pt-3"><a href="#" class="btn btn-primary" data-toggle="collapse"
                                                           data-target="#MacMini">Выберите модель Mac mini</a></p>
                            <div id="MacMini" class="collapse border border-success text-center">
                                {% for field in MacMini.category_device.all %}
                            <span><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                     style="color:black">{{ field.model }}</a></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div  data-animate="fadeInUp" data-delay=".1">
                        <div class="image-hover-wrap">
                            <img src="{{ iPod.image.url }}" alt="" width="800" height="600">
                            <div class="image-hover-content d-flex justify-content-center align-items-center text-center">
                                <div class="pre-scrollable">
                                    <table>
                                        {% for field in iPod.category_device.all %}
                                        <tr>
                                            <td><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}"
                                                    style="color:black">{{ field.model }}</a></td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="single-member-info">
                            <h3 class="text-center">РЕМОНТ iPod</h3>
                            <p class="text-center pt-3"><a href="#" class="btn btn-primary" data-toggle="collapse"
                                                           data-target="#iPod">Выберите модель iPod</a></p>
                            <div id="iPod" class="collapse border border-success text-center">
                                {% for field in iPod.category_device.all %}
                            <span><a class="btn btn-outline-light btn-lg animated slideInUp" href="{{ field.get_absolute_url }}" 
                                     style="color:black">{{ field.model }}</a></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Features -->

    <section style="background-color: #eae6e6">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pt-3 pb-3"><h1 class="text-center">Как мы работаем</h1></div>
            </div>
            <div class="row">
                <div class="col-md-4 pt-1">
                    <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".1">
                        <img src="{% static 'img/img1.png' %}">
                        <h3>{% if block_text.0 %}
                                {{ block_text.0.title|safe }}
                            {% else %}
                                Как мы работаем
                            {% endif %}
                        </h3>
                        <p>
                            {% if block_text.0 %}
                                {{ block_text.0.description|safe }}
                            {% else %}
                                Как мы работаем
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="col-md-4 pt-3">
                    <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".3">
                        <img src="{% static 'img/img2.png' %}">
                        <h3>{% if block_text.1 %}
                                {{ block_text.1.title|safe }}
                            {% else %}
                                Как мы работаем
                            {% endif %}
                        </h3>
                            {% if block_text.1 %}
                                {{ block_text.1.description|safe }}
                            {% else %}
                                <p>Вы решаете, где и в какое время встретиться с мастером! Наши мастера произведут ремонт в
                                    удобном Вам месте, оригинальными запчастями. Качественно и в короткий срок *Стоимость выезда
                                    бесплатная.</p>
                                <p>* стоимость выезда мастера в случае если вы заказываете ремонт составит 0 рублей, если без
                                    ремонта то 500 рублей.</p>
                            {% endif %}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".5">
                        <img src="{% static 'img/img3.png' %}">
                        <h3>
                            {% if block_text.2 %}
                                {{ block_text.2.title|safe }}
                            {% else %}
                                Вы останетесь довольны!
                            {% endif %}
                        </h3>
                        {% if block_text.2 %}
                                {{ block_text.2.description|safe }}
                            {% else %}
                        <p>Ваше устройство снова работает!</p>
                        <p>Оригинальные запчасти и официальная гарантия на все виды ремонта продлевают жизнь ваших
                            гаджетов</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Pricing plans -->
    <section>
        <div class="container pt-5 pb-2">
            <div class="row">
                <div class="col-md-4">
                    <!-- Section title -->
                    <div class="section-title text-center">
                        <img src="{% static 'img/icons/diagnostic.png' %}" class="pb-3" width="68" height="84">
                        <h4 data-animate="fadeInUp" data-delay=".1">Диагностика бесплатно!</h4>
                        <p data-animate="fadeInUp" data-delay=".3">Диагностика Вашего сломанного девайся произведем
                            абсолютно бесплатно, даже в случае если Вы откажетесь от ремонта.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Section title -->
                    <div class="section-title text-center">
                        <img src="{% static 'img/icons/settings.png' %}" class="pb-3"  width="68" height="84">
                        <h4 data-animate="fadeInUp" data-delay=".1">Ремонтируем технику Apple более 10 лет!</h4>
                        <p data-animate="fadeInUp" data-delay=".3">Многолетний опыт работы и накопленные знания дают нам
                            преимущество отремонтировать Ваше устройство максимально быстро и по демократичной цене!</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Section title -->
                    <div class="section-title text-center">
                        <img src="{% static 'img/icons/beach.png' %}" class="pb-3"  width="68" height="84">
                        <h4 data-animate="fadeInUp" data-delay=".1">Всё для удобства клиента!</h4>
                        <p data-animate="fadeInUp" data-delay=".3">Вы решаете, где и когда произойдет ремонт девайса, у
                            нас в сервисе или мы приедем в удобное для Вас место и время! Мы подстраиваемся под Ваше
                            расписание.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!-- Section title -->
                    <div class="section-title text-center">
                        <img src="{% static 'img/icons/web-optimization.png' %}" class="pb-3"  width="68" height="84">
                        <h4 data-animate="fadeInUp" data-delay=".3">Ремонт максимально быстро!</h4>
                        <p data-animate="fadeInUp" data-delay=".5">Ремонт большинства неисправностей не превышает 30
                            минут. Более 70 видов поломок и неисправностей устраняются в короткое время.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Section title -->
                    <div class="section-title text-center">
                        <img src="{% static 'img/icons/report.png' %}" class="pb-3"  width="68" height="84">
                        <h4 data-animate="fadeInUp" data-delay=".3">Гарантия на все виды работ!</h4>
                        <p data-animate="fadeInUp" data-delay=".5">После проведения работ заказчик получает гарантию на
                            проведенные работы и может обратиться в сервис в течении нескольких месяцев с любыми
                            возникшими неполадками.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Section title -->
                    <div class="section-title text-center">
                        <img src="{% static 'img/icons/settings-security.png' %}" class="pb-3"  width="68" height="84">
                        <h4 data-animate="fadeInUp" data-delay=".3">Безопасность ваших данных!</h4>
                        <p data-animate="fadeInUp" data-delay=".5">Мы ремонтируем девайс на Ваших глазах. Это значит,
                            что все Ваши данные - в полной безопасности.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Pricing plans -->

    <!-- Reviews -->
{#    <section class="pt-2 pb-3" style="background-color: #eae6e6">#}
{#        <div class="container">#}
{#            <div class="text-center">#}
{#                <h2 data-animate="fadeInUp" data-delay=".1" class="pb-5">Что говорят о нас наши клиенты</h2>#}
{#            </div>#}
{#            <div class="swiper-container review-slider">#}
{#                <div class="swiper-wrapper">#}
{#                    <div class="swiper-slide single-review-slide">#}
{#                        <h4>Петров Вадим#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                        </h4>#}
{#                        <span>Советую всем</span>#}
{#                        <p>Разбил экран на своем айфоне. Вызвал Мастера на дом. Приехали оперативно, поченили#}
{#                            качественно и быстро. Доволен как конь. Советую всем</p>#}
{#                    </div>#}
{##}
{#                    <div class="swiper-slide single-review-slide">#}
{#                        <h4>Игнатьева Анастасия#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                        </h4>#}
{#                        <span>Ребята отлично работают.</span>#}
{#                        <p>Без причин начал мирцать экран на моем планшете. Гарантия как назло истекла. Тщательно искала#}
{#                            сервис по ремонту продукции Apple. Наткнулась на данную организацию. Привлекла цена и срок,#}
{#                            за который обещали сделать. Очень долго сомневалась, но в итоге решила рискнуть и доверить#}
{#                            им свой девайс. Сделали намного быстрее чем обещали. Качественно и что самое главное не#}
{#                            дорого. Очень довольна. Рекомендую всем</p>#}
{#                    </div>#}
{##}
{#                    <div class="swiper-slide single-review-slide">#}
{#                        <h4>Кондратьев Сергей#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                        </h4>#}
{#                        <span>Супер</span>#}
{#                        <p>Был у сестры в Питере, где произошла неприятность с моим айфоном 7, который я уронил на#}
{#                            кафель и разбился экран. Хорошо, что сестра посоветовала обратиться в этот сервисный центр,#}
{#                            где мой айфон поменяли на новый. Мне пришлось заплатить всего лишь 10 000 рублей. В сервисе#}
{#                            работают вежливые сотрудники, которые ответили на все мои вопросы. Не думал, что вернусь#}
{#                            домой с новым айфоном. Спасибо!</p>#}
{#                    </div>#}
{##}
{#                    <div class="swiper-slide single-review-slide">#}
{#                        <h4>Селезнева Ирина#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                        </h4>#}
{#                        <span>!!!</span>#}
{#                        <p>После трех неудачных опытов ремонта Айфонов в других сервисах (где чинили одно, случайно#}
{#                            ломая другое и так часами до фин. результата), была приятно удивлена оперативностью и#}
{#                            качеством работы - за 15 минут уверенно поменяли экран, прямо "не отходя от кассы", все#}
{#                            перед тобой ) Спасибо! )</p>#}
{#                    </div>#}
{##}
{#                    <div class="swiper-slide single-review-slide">#}
{#                        <h4>Кулдан Заира#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                            <i class="fas fa-star"></i>#}
{#                        </h4>#}
{#                        <span>Спасибо</span>#}
{#                        <p>Перестал включиться iMac, обратилась в этот сервис. В течение 20 минут определили поломку и#}
{#                            озвучили цену. Я согласилась, ремонт длился пару часов. На все вопросы ответили и даже#}
{#                            гарантию дали :)</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="swiper-pagination review-pagination position-static"></div>#}
{#        </div>#}
{#    </section>#}
    <!-- End of Reviews -->

    <!-- Servers -->
    <section class="servers pt-3" style="background-color: #eae6e6">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center pb-3">
                    <h2 data-animate="fadeInUp" data-delay=".1">Адреса наших сервисных центров</h2>
                    <p data-animate="fadeInUp" data-delay=".2" class="pb-2" align="center">
                        Кликнув на любую точку на карте, Вы сможете записаться на ремонт своего девайса всего за 20 секунд.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12" id="map" style="height: 350px; width: 350px;">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 text-md-center text-right  pt-3">
                    <div>
                        <h2 data-animate="fadeInUp" data-delay=".1"><a href="tel:+74957614500">8(495)761-45-00</a></h2>
                        <p data-animate="fadeInUp" data-delay=".2" class="pb-2" align="center">часы
                            работы: 10:00-21:00</p>
                    </div>
                    <ul class="data-centers list-unstyled list-item clearfix">
                        <li data-animate="fadeInUp" data-delay=".6"><i class="fas fa-caret-left"></i>ул. Ленинградское
                            шоссе, 71Г
                        </li>
                        <li data-animate="fadeInUp" data-delay=".5"><i class="fas fa-caret-left"></i>ул. Маршала
                            Прошлякова, 14
                        </li>
                        <li data-animate="fadeInUp" data-delay=".2"><i class="fas fa-caret-left"></i>ул. Проспект Мира,
                            211 к1
                        </li>
                        <li data-animate="fadeInUp" data-delay=".1"><i class="fas fa-caret-left"></i>ул.Шоссейная, 2Б
                        </li>
                        <li data-animate="fadeInUp" data-delay=".3"><i class="fas fa-caret-left"></i>ул. Рябиновая, 59
                        </li>
                        <li data-animate="fadeInUp" data-delay=".6"><i class="fas fa-caret-left"></i>104-й км МКАД, 6
                        </li>
                    </ul>
                    <a href="#" class="btn server-btn" data-animate="fadeInUp" data-delay=".7">Дополнительная информация<i
                            class="fas fa-caret-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Servers -->

    <!-- Back to top -->
    <div class="back-to-top">
        <a href="#"> <i class="fas fa-arrow-up"></i></a>
    </div>
{% endblock %}