{% extends 'base/main.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="row pt-5 pb-2">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная страница</a></li>
                        <li class="breadcrumb-item"><a
                                href="{{ object.category_device.get_absolute_url }}">{{ object.category_device }}</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">{{ object }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-justify pt-3 pb-3"><h3>{{ object.title|safe }}</h3></div>
            <div class="col-md-12 text-center pt-3 pb-3"><h1>Стоимость ремонта {{ object }}</h1></div>
            <div class="col-md-12 text-justify pt-2 pb-3"><h3>{{ object.description|safe }}</h3></div>
            </div>
        </div>
    </div>
        <div class="container  pt-4 pb-4">
            <div class="row">
                <table class="table" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="text-center">Услуга</th>
                        <th class="text-center">Цена</th>
                        <th class="text-left"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in object.types_work.all %}
                        <tr class="text-right">
                            <td><b>{{ field.type_of_work }}</b></td>
                            <td class="text-center">{{ field.price }} рублей</td>
                            <td class="text-left">
                                <button type="button" class="btn btn-sm btn-success text-white"
                                        data-toggle="modal"
                                        data-target="#feedbackModal">
                                    Заказать
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog"
                     aria-labelledby="feedbackModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-light text-white">
                                <h3 class="modal-title text-center" id="feedbackModalLabel">Заказать ремонт прямо
                                    сейчас</h3>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="form-group col-md-4 text-left"><label for="name">Ваше Имя</label>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <input id="name" name="name" class="form-control" type="text"
                                                   required="required">
                                        </div>
                                        <div class="form-group col-md-4 text-left"><label for="phone">Ваш
                                            телефон</label>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <input type="text" class="form-control" id="phone" required="required">
                                            <input id="type_of_workd" type="hidden" value="{{ field.type_of_work }}">
                                            <input id="phone_model" type="hidden" value="{{ field.model }}">
                                        </div>
                                        <div class="form-group col-md-4 text-left"><label for="selectservice">Укажите
                                            СЦ</label></div>
                                        <div class="form-group col-md-8">
                                            <select class="form-control" id="selectservice">
                                                <option>ул. Ленинградское шоссе, 71Г</option>
                                                <option>ул. Маршала Прошлякова, 14</option>
                                                <option>ул. Проспект Мира, 211 к1</option>
                                                <option>ул.Шоссейная, 2Б</option>
                                                <option>ул. Рябиновая, 59</option>
                                                <option>104-й км МКАД, 6</option>
                                                <option>Выездной ремонт</option>
                                            </select></div>
                                        <div class="col-md-4 text-left">
                                            <label for="comment">Комментарий</label>
                                        </div>
                                        <div class="form-group col-md-12">
                                        <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"
                                                  placeholder="Комментарий"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-success">Заказать</button>
                                            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"
                                                    aria-label="Close">Отмена
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <small><h5>Нажимая кнопку "Заказать" вы даете согласие на обработку ваших персональных
                                    данных</h5></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-justify pt-3 pb-3">
                <h2>Самыми распространенными причинами, по которым клиенты обращаются в наш сервисный центр по ремонту
                    {{ object }} являются:</h2>
            </div>
            <div class="col-md-12">
                <ul>
                    {% for problem in object.return_problems %}
                        <li style="text-align: left" class="pt-1"><h3>{{ problem }}</h3></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <section style="background-color: #eae6e6">
            <div class="row">
                <div class="col-md-12 col-12 pt-3 pb-3"><h1 class="text-center">Как мы работаем</h1></div>
            </div>
            <div class="row">
                <div class="col-md-4 pt-1">
                    <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".1">
                        <img src="{% static 'img/img1.png' %}">
                        <h3>{% if block_text.0 %}
                                {{ block_text.0.title|safe }}
                            {% else %}
                                Как мы работаем
                            {% endif %}
                        </h3>
                        <p>
                            {% if block_text.0 %}
                                {{ block_text.0.description|safe }}
                            {% else %}
                                Как мы работаем
                            {% endif %}
                        </p>
                    </div>
                </div>

                <div class="col-md-4 pt-3">
                    <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".3">
                        <img src="{% static 'img/img2.png' %}">
                        <h3>{% if block_text.1 %}
                                {{ block_text.1.title|safe }}
                            {% else %}
                                Как мы работаем
                            {% endif %}
                        </h3>
                            {% if block_text.1 %}
                                {{ block_text.1.description|safe }}
                            {% else %}
                                <p>Вы решаете, где и в какое время встретиться с мастером! Наши мастера произведут ремонт в
                                    удобном Вам месте, оригинальными запчастями. Качественно и в короткий срок *Стоимость выезда
                                    бесплатная.</p>
                                <p>* стоимость выезда мастера в случае если вы заказываете ремонт составит 0 рублей, если без
                                    ремонта то 500 рублей.</p>
                            {% endif %}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="single-feature text-center" data-animate="fadeInUp" data-delay=".5">
                        <img src="{% static 'img/img3.png' %}">
                        <h3>
                            {% if block_text.2 %}
                                {{ block_text.2.title|safe }}
                            {% else %}
                                Вы останетесь довольны!
                            {% endif %}
                        </h3>
                        {% if block_text.2 %}
                                {{ block_text.2.description|safe }}
                            {% else %}
                        <p>Ваше устройство снова работает!</p>
                        <p>Оригинальные запчасти и официальная гарантия на все виды ремонта продлевают жизнь ваших
                            гаджетов</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- Pricing plans -->
    <section>
        <div class="container pt-5 pb-2">
            <div class="row">
                <div class="col-md-4">
                    <!-- Section title -->
                    <div class="section-title text-center">
                        <img src="{% static 'img/icons/diagnostic.png' %}" class="pb-3" width="68" height="84">
                        <h4 data-animate="fadeInUp" data-delay=".1">Диагностика бесплатно!</h4>
                        <p data-animate="fadeInUp" data-delay=".3">Диагностика Вашего сломанного девайся произведем
                            абсолютно бесплатно, даже в случае если Вы откажетесь от ремонта.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Section title -->
                    <div class="section-title text-center">
                        <img src="{% static 'img/icons/settings.png' %}" class="pb-3"  width="68" height="84">
                        <h4 data-animate="fadeInUp" data-delay=".1">Ремонтируем технику Apple более 10 лет!</h4>
                        <p data-animate="fadeInUp" data-delay=".3">Многолетний опыт работы и накопленные знания дают нам
                            преимущество отремонтировать Ваше устройство максимально быстро и по демократичной цене!</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Section title -->
                    <div class="section-title text-center">
                        <img src="{% static 'img/icons/beach.png' %}" class="pb-3"  width="68" height="84">
                        <h4 data-animate="fadeInUp" data-delay=".1">Всё для удобства клиента!</h4>
                        <p data-animate="fadeInUp" data-delay=".3">Вы решаете, где и когда произойдет ремонт девайса, у
                            нас в сервисе или мы приедем в удобное для Вас место и время! Мы подстраиваемся под Ваше
                            расписание.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!-- Section title -->
                    <div class="section-title text-center">
                        <img src="{% static 'img/icons/web-optimization.png' %}" class="pb-3"  width="68" height="84">
                        <h4 data-animate="fadeInUp" data-delay=".3">Ремонт максимально быстро!</h4>
                        <p data-animate="fadeInUp" data-delay=".5">Ремонт большинства неисправностей не превышает 30
                            минут. Более 70 видов поломок и неисправностей устраняются в короткое время.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Section title -->
                    <div class="section-title text-center">
                        <img src="{% static 'img/icons/report.png' %}" class="pb-3"  width="68" height="84">
                        <h4 data-animate="fadeInUp" data-delay=".3">Гарантия на все виды работ!</h4>
                        <p data-animate="fadeInUp" data-delay=".5">После проведения работ заказчик получает гарантию на
                            проведенные работы и может обратиться в сервис в течении нескольких месяцев с любыми
                            возникшими неполадками.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Section title -->
                    <div class="section-title text-center">
                        <img src="{% static 'img/icons/settings-security.png' %}" class="pb-3"  width="68" height="84">
                        <h4 data-animate="fadeInUp" data-delay=".3">Безопасность ваших данных!</h4>
                        <p data-animate="fadeInUp" data-delay=".5">Мы ремонтируем девайс на Ваших глазах. Это значит,
                            что все Ваши данные - в полной безопасности.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Pricing plans -->

    <!-- Reviews -->
    {#    <section class="pt-2 pb-3" style="background-color: #eae6e6">#}
    {#        <div class="container">#}
    {#            <div class="text-center">#}
    {#                <h2 data-animate="fadeInUp" data-delay=".1" class="pb-5">Что говорят о нас наши клиенты</h2>#}
    {#            </div>#}
    {#            <div class="swiper-container review-slider">#}
    {#                <div class="swiper-wrapper">#}
    {#                    <div class="swiper-slide single-review-slide">#}
    {#                        <h4>Петров Вадим#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                        </h4>#}
    {#                        <span>Советую всем</span>#}
    {#                        <p>Разбил экран на своем айфоне. Вызвал Мастера на дом. Приехали оперативно, поченили#}
    {#                            качественно и быстро. Доволен как конь. Советую всем</p>#}
    {#                    </div>#}
    {##}
    {#                    <div class="swiper-slide single-review-slide">#}
    {#                        <h4>Игнатьева Анастасия#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                        </h4>#}
    {#                        <span>Ребята отлично работают.</span>#}
    {#                        <p>Без причин начал мирцать экран на моем планшете. Гарантия как назло истекла. Тщательно искала#}
    {#                            сервис по ремонту продукции Apple. Наткнулась на данную организацию. Привлекла цена и срок,#}
    {#                            за который обещали сделать. Очень долго сомневалась, но в итоге решила рискнуть и доверить#}
    {#                            им свой девайс. Сделали намного быстрее чем обещали. Качественно и что самое главное не#}
    {#                            дорого. Очень довольна. Рекомендую всем</p>#}
    {#                    </div>#}
    {##}
    {#                    <div class="swiper-slide single-review-slide">#}
    {#                        <h4>Кондратьев Сергей#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                        </h4>#}
    {#                        <span>Супер</span>#}
    {#                        <p>Был у сестры в Питере, где произошла неприятность с моим айфоном 7, который я уронил на#}
    {#                            кафель и разбился экран. Хорошо, что сестра посоветовала обратиться в этот сервисный центр,#}
    {#                            где мой айфон поменяли на новый. Мне пришлось заплатить всего лишь 10 000 рублей. В сервисе#}
    {#                            работают вежливые сотрудники, которые ответили на все мои вопросы. Не думал, что вернусь#}
    {#                            домой с новым айфоном. Спасибо!</p>#}
    {#                    </div>#}
    {##}
    {#                    <div class="swiper-slide single-review-slide">#}
    {#                        <h4>Селезнева Ирина#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                        </h4>#}
    {#                        <span>!!!</span>#}
    {#                        <p>После трех неудачных опытов ремонта Айфонов в других сервисах (где чинили одно, случайно#}
    {#                            ломая другое и так часами до фин. результата), была приятно удивлена оперативностью и#}
    {#                            качеством работы - за 15 минут уверенно поменяли экран, прямо "не отходя от кассы", все#}
    {#                            перед тобой ) Спасибо! )</p>#}
    {#                    </div>#}
    {##}
    {#                    <div class="swiper-slide single-review-slide">#}
    {#                        <h4>Кулдан Заира#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                            <i class="fas fa-star"></i>#}
    {#                        </h4>#}
    {#                        <span>Спасибо</span>#}
    {#                        <p>Перестал включиться iMac, обратилась в этот сервис. В течение 20 минут определили поломку и#}
    {#                            озвучили цену. Я согласилась, ремонт длился пару часов. На все вопросы ответили и даже#}
    {#                            гарантию дали :)</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="swiper-pagination review-pagination position-static"></div>#}
    {#        </div>#}
    {#    </section>#}
    <!-- End of Reviews -->

    <!-- Servers -->
    <section class="servers pt-3" style="background-color: #eae6e6">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center pb-3">
                    <h2 data-animate="fadeInUp" data-delay=".1">Адреса наших сервисных центров</h2>
                    <p data-animate="fadeInUp" data-delay=".2" class="pb-2" align="center">
                        Кликнув на любую точку на карте, Вы сможете записаться на ремонт своего девайса всего за 20
                        секунд.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12" id="map" style="height: 300px">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 text-md-center text-right  pt-3">
                    <div>
                        <h2 data-animate="fadeInUp" data-delay=".1"><a href="tel:+74957614500">8(495)761-45-00</a></h2>
                        <p data-animate="fadeInUp" data-delay=".2" class="pb-2" align="center">часы
                            работы: 10:00-21:00</p>
                    </div>
                    <ul class="data-centers list-unstyled list-item clearfix">
                        <li data-animate="fadeInUp" data-delay=".6"><i class="fas fa-caret-left"></i>ул. Ленинградское
                            шоссе, 71Г
                        </li>
                        <li data-animate="fadeInUp" data-delay=".5"><i class="fas fa-caret-left"></i>ул. Маршала
                            Прошлякова, 14
                        </li>
                        <li data-animate="fadeInUp" data-delay=".2"><i class="fas fa-caret-left"></i>ул. Проспект Мира,
                            211 к1
                        </li>
                        <li data-animate="fadeInUp" data-delay=".1"><i class="fas fa-caret-left"></i>ул.Шоссейная, 2Б
                        </li>
                        <li data-animate="fadeInUp" data-delay=".3"><i class="fas fa-caret-left"></i>ул. Рябиновая, 59
                        </li>
                        <li data-animate="fadeInUp" data-delay=".6"><i class="fas fa-caret-left"></i>104-й км МКАД, 6
                        </li>
                    </ul>
                    <a href="#" class="btn server-btn" data-animate="fadeInUp" data-delay=".7">Дополнительная информация<i
                            class="fas fa-caret-right"></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Servers -->

    <!-- Back to top -->
    <div class="back-to-top">
        <a href="#"> <i class="fas fa-arrow-up"></i></a>
    </div>
    <script type="text/javascript">
    function test(id) {
        alert(id)
    }
    </script>
{% endblock %}