{% load static %}
<!-- Footer -->
<footer class="main-footer bg-primary pt-4">
    <div class="container-fluid" style="font-size: 1.2rem">
        <div class="row pb-3 text-center">
            <!-- Footer info -->
            <div class="col-md-4">
                <div class="footer-info">
                    <span class="" data-animate="fadeInUp" data-delay=".1">
                        <a class="text-warning" href="tel:+74957614500">+7(495) 761-45-00 &nbsp</a>
                        <i class="fas fa-phone text-white" width="30px" height="30px"></i>
                        <img src="{% static 'img/whatsapp.svg' %}" alt="whatsapp" width="30px" height="30px">
                        <img src="{% static 'img/viber.svg' %}" alt="viber" width="30px" height="30px">
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-info">
                    <span class="" data-animate="fadeInUp" data-delay=".1">
                        <a class="text-warning" href="mailto:info@imastermsk.ru">info@imastermsk.ru&nbsp</a> <i class="fas fa-envelope text-white" width="30px" height="30px"></i>
                    </span>
                </div>
            </div>
{#            <div class="col-md-4">#}
{#                <div class="footer-info">#}
{#                    <span class="" data-animate="fadeInUp" data-delay=".1">#}
{#                        <span class="text-warning">Москва, ул. Авиамоторная, 22/18&nbsp</span> <i class="fas fa-map-marker-alt text-white"></i>#}
{#                    </span>#}
{#                </div>#}
{#            </div>#}
            <div class="col-md-4">
                <div class="footer-info">
                    <span class="" data-animate="fadeInUp" data-delay=".1">
                        <ul class="social-links list-inline mb-0">
                            <li data-animate="fadeInUp" data-delay=".25"><a href="https://vk.com/i84997558849" target="_blank"><i class="fab fa-vk text-white"></i></a></li>
                            <li data-animate="fadeInUp" data-delay=".3"><a href="#" target="_blank"><i class="fab fa-twitter text-white"></i></a></li>
                            <li data-animate="fadeInUp" data-delay=".35"><a href="#" target="_blank"><i class="fab fa-google-plus-g text-white"></i></a></li>
                            <li data-animate="fadeInUp" data-delay=".4"><a href="#" target="_blank"><i class="fab fa-linkedin-in text-white"></i></a></li>
                            <li data-animate="fadeInUp" data-delay=".45"><a href="#" target="_blank"><i class="fas fa-rss text-white"></i></a></li>
                            <li data-animate="fadeInUp" data-delay=".5"><a href="#" target="_blank">&nbsp<i class="fab fa-instagram text-white"></i></a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="bottom-footer">
            <div class="row">
                <!-- Copyright -->
                <div class="col-md-5 order-last order-md-first">
                    <p class="copyright" data-animate="fadeInDown" data-delay=".85">&copy; Copyright 2010 - 2019 <a href="#">iMasterMSK.ru</a></p>
                </div>

                <!-- Footer menu -->
                <div class="col-md-7 order-first order-md-last">
                    <ul class="footer-menu list-inline text-md-right mb-md-0" data-animate="fadeInDown" data-delay=".95">
                        <li><a href="#">Ссылка</a></li>
                        <li>|</li>
                        <li><a href="#">Ссылка</a></li>
                        <li>|</li>
                        <li><a href="#">Ссылка</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer -->
