{% load static %}
<!-- Preloader -->
{#<div class="preLoader"></div>#}
<style>
    .lines {margin-bottom: 30px;}
</style>
<!-- Main header -->
<nav class="main-header navbar navbar-inverse">
    <div class="container-fluid">
        {#    <div class="navbar-header pull-left">#}
        {#      <a class="navbar-brand" data-animate="fadeInUp" data-delay=".2" href="{% url 'home_page' %}"><img src="{% static 'img/logo.png' %}" alt="iMaster"></a>#}
        {#    </div>#}
        <div class="navbar-header">
            <div class="row">
                <div class="col-md-2 col-5 pt-1 title-text3"><a class="navbar-brand" data-animate="fadeInUp" data-delay=".1"
                                         href="{% url 'home_page' %}"><img src="{% static 'img/logo.png' %}"
                                                                           alt="iMaster"></a></div>
                <div class="col-md-7 text-center title-text" data-animate="fadeInUp" data-delay=".2">
                    <h4><p style="margin-top: 5px; margin-bottom: 5px;"><b>Мы знаем чем занимаемся.</b></p>
                        <p style="margin-top: 5px; margin-bottom: 5px;"><b>Мы берем совершенные устройства Apple и продлеваем им жизнь.</b></p>
                        <p style="margin-top: 5px; margin-bottom: 5px;"><b>Религия Apple обязывает нас делать свою работу безупречно.</b></p>
                        <p style="margin-top: 5px; margin-bottom: 5px;"><b>Команда iMaster</b></p></h4>
                </div>
                <div class="col-md-3 col-7 text-center" data-animate="fadeInUp" data-delay=".3">
                    <p><b>
                        <h2 class="title-text4"><a href="tel:+74957614500">8(495)761-45-00</a></h2></b></p>
                    <p>
                        <button class="btn btn-secondary block-center title-text2 " style="font-size: 1.3rem;" data-toggle="modal"
                                data-target="#feedbackModal2">Записаться на ремонт
                        </button>
                    </p>
                </div>

            </div>
            {#      <ul class="nav navbar-nav nav-pills pull-center">#}
            {#        <li data-animate="fadeInUp" data-delay=".3" style="align-self: center"><span><h3>Вы можете приехать в любой из 6 специализированных сервисов или вызвать мастера</h3></span></li>#}
            {#        <li data-animate="fadeInUp" data-delay=".4" style="align-self: center"><a class="btn btn-secondary block-center" href="#">Записаться на ремонт</a></li>#}
            {#      </ul>#}
        </div>
    </div>
</nav>
<div class="modal fade" id="feedbackModal2" tabindex="-1" role="dialog"
                     aria-labelledby="feedbackModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-light text-white">
                                <h3 class="modal-title text-center" id="feedbackModalLabel">Заказать ремонт прямо
                                    сейчас</h3>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="row">
                                        <div class="form-group col-md-4 text-left"><label for="name">Ваше Имя</label>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <input id="name" name="name" class="form-control" type="text"
                                                   required="required">
                                        </div>
                                        <div class="form-group col-md-4 text-left"><label for="phone">Ваш
                                            телефон</label>
                                        </div>
                                        <div class="form-group col-md-8">
                                            <input type="text" class="form-control" id="phone" required="required">
                                            <input id="type_of_workd" type="hidden" value="{{ field.type_of_work }}">
                                            <input id="phone_model" type="hidden" value="{{ field.model }}">
                                        </div>
                                        <div class="form-group col-md-4 text-left"><label for="selectservice">Укажите
                                            СЦ</label></div>
                                        <div class="form-group col-md-8">
                                            <select class="form-control" id="selectservice">
                                                <option>ул. Ленинградское шоссе, 71Г</option>
                                                <option>ул. Маршала Прошлякова, 14</option>
                                                <option>ул. Проспект Мира, 211 к1</option>
                                                <option>ул.Шоссейная, 2Б</option>
                                                <option>ул. Рябиновая, 59</option>
                                                <option>104-й км МКАД, 6</option>
                                                <option>Выездной ремонт</option>
                                            </select></div>
                                        <div class="col-md-4 text-left">
                                            <label for="comment">Комментарий</label>
                                        </div>
                                        <div class="form-group col-md-12">
                                        <textarea id="comment" name="comment" cols="40" rows="5" class="form-control"
                                                  placeholder="Комментарий"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-success">Заказать</button>
                                            <button type="button" class="btn btn-danger pull-right" data-dismiss="modal"
                                                    aria-label="Close">Отмена
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <small><h5>Нажимая кнопку "Заказать" вы даете согласие на обработку ваших персональных
                                    данных</h5></small>
                            </div>
                        </div>
                    </div>
                </div>
<!-- End of Main header -->