<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <!--yandex_map -->
        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=832341d6-e863-4a17-8264-d3456c402dca" type="text/javascript"></script>
{#        <script src="{% static 'js/yandexmap/placemark.js' %}" type="text/javascript"></script>#}
        <script src="{% static 'js/yandexmap/yandex.jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/yandexmap/object_manager.js' %}" type="text/javascript"></script>

        <!--yandex_map -->


        <!-- Document Title -->
        <title>{{ title }}</title>

        <!-- Favicon -->

        <!-- CSS Files -->
{#        <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500i,700%7CRoboto:400,500,700" rel="stylesheet">#}
        <link rel="stylesheet" href="{% static 'css/bootstrap-rtl.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/swiper/swiper.min.css' %}">
        <link rel="stylesheet" href="{% static 'plugins/magnific-popup/magnific-popup.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/style-rtl.css' %}">
        <link rel="stylesheet" href="{% static 'css/colors/theme-color-1.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        {% block header %}
        {% endblock %}


        {% block body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/fontawesome-all.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'plugins/typed.js/typed.min.js' %}"></script>
        <script src="{% static 'plugins/waypoints/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'plugins/waypoints/sticky.min.js' %}"></script>
        <script src="{% static 'plugins/swiper/swiper.min.js' %}"></script>
        <script src="{% static 'plugins/particles.js/particles.min.js' %}"></script>
        <script src="{% static 'plugins/particles.js/particles.settings.js' %}"></script>
        <script src="{% static 'plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'plugins/parsley/parsley.min.js' %}"></script>
        <script src="{% static 'plugins/parallax/parallax.min.js' %}"></script>
        <script src="{% static 'plugins/retinajs/retina.min.js' %}"></script>
        <script src="{% static 'js/menu.min.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>

        {% block javascript %}
        {% endblock %}

    </body>
</html>